<!--@subject {{trans "Your %store_name order is collected" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Below a recap of the item(s) you have just picked up. You will shourtly receive an emailcontaining your invoice."}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        {{layout handle="sales_email_order_items" order_id=$order.getId() area="frontend"}}
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
