<li id="order-review" role="presentation" class="checkout-order-review">
    <!-- ko if: shippingAddress() -->
    <div class="order-review-shipping-info">
        <h5 data-bind="i18n: 'Shipping address'"></h5>
        <p data-bind="text: shippingAddress().firstname"></p>
        <p data-bind="text: shippingAddress().lastname"></p>
        <p data-bind="text: shippingAddress().postcode"></p>
        <p data-bind="text: shippingAddress().city"></p>
        <p data-bind="text: shippingAddress().street"></p>
        <p data-bind="text: shippingAddress().street1"></p>
        <p data-bind="text: shippingAddress().telephone"></p>
        <p data-bind="text: shippingAddress().phone"></p>
        <!-- ko if: shippingMehtod() && shippingMehtod().method_title && shippingMehtod().carrier_title -->
        <div>
            <p data-bind="text: 'Method:'"></p>
            <p data-bind="text: shippingMehtod().method_title + ' ' + shippingMehtod().carrier_title"></p>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: billingAddress() -->
    <div class="order-review-billing-info">
        <h5 data-bind="i18n: 'Billing address'"></h5>
        <p data-bind="text: billingAddress().firstname"></p>
        <p data-bind="text: billingAddress().lastname"></p>
        <p data-bind="text: billingAddress().city"></p>
        <p data-bind="text: billingAddress().street"></p>
        <p data-bind="text: billingAddress().street1"></p>
    </div>
    <!-- /ko -->

    <!-- ko if: paymentMethod() && paymentMethod().method -->
    <div class="order-review-payment-info">
        <h5 data-bind="i18n: 'Payment Methods'"></h5>
        <!--ko if: paymentMethod().method === "cashondelivery"-->
            <p data-bind="text: 'Cash on Delivery'"></p>
        <!--/ko-->

        <!--ko if: paymentMethod().method === "creditcard"-->
            <p data-bind="text: 'Credit Card'"></p>
        <!--/ko-->

        <!--ko if: paymentMethod().method === "checkmo"-->
            <p data-bind="text: 'Check / Money order'"></p>
        <!--/ko-->

        <!--ko ifnot: paymentMethod().method === "cashondelivery" ||  paymentMethod().method === "creditcard" || paymentMethod().method === "checkmo"-->
         <p data-bind="text: paymentMethod().method"></p>
        <!--/ko-->

    </div>
    <!-- /ko -->

    <div class="summary-info required field">
        <input type="checkbox" name="terms-and-conditions" id="terms-and-conditions" checked data-bind="click: function() {
            if(document.getElementById('terms-and-conditions').checked) {
                document.querySelector('.place-order').classList.remove('disabled')
            } else {
                document.querySelector('.place-order').classList.add('disabled')
            }
            return true;
        }">
        <label class="summary-text" for="terms-and-conditions">
            <span class="summary-title" data-bind="i18n: 'I have read and agree to the '"></span>
        </label>
            <a class="summary-title" href="#"
            data-bind="attr: {href: `${window.BASE_URL}terms-and-conditions`}">
                 <span data-bind="i18n: 'Terms and Conditions'"></span>
            </a>
            <span class="summary-title" data-bind="i18n: 'and'"></span>
            <a class="summary-title" href="#"
            data-bind="attr: {href: `${window.BASE_URL}privacy-policy`}">
                 <span data-bind="i18n: 'Privacy Policy'"></span>
            </a>


    </div>

    <div class="actions-toolbar">
        <div class="primary">
            <span class="action primary checkout place-order"
                    data-bind="
                        click: placeOrder,
                        attr: {
                            title: $t('Buy'),
                        }
                        ">
                <span data-bind="i18n: 'Buy'"></span>
            </span>
        </div>
    </div>
</li>
