<form class="form methods-collect" id="co-collect-method-form">
    <div id="checkout-step-collect" class="step-content">
        <div id="store-selector">
            <!-- ko foreach: getRegion('pickup-location-selector') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</form>
