<li id="shipping" class="checkout-shipping-address">
    <div data-role="content">
        <div id="shipping-tabs-4" class="ispu data items" data-bind="mageInit: {'mage/tabs':{
                'openedState': 'active',
                'active': 0,
            }}">
            <div class="data item title general-delivery"  data-role="collapsible" id="tab-label-general-delivery">
                <a class="data switch" tabindex="-1" data-toggle="switch" href="#general-delivery" id="tab-label-general-delivery-title" aria-selected="false" aria-expanded="false">
                    <span data-bind="i18n: 'Ship to your address'"></span>
                </a>
            </div>
            <div class="data item title pickup-location" data-role="collapsible" id="tab-label-pickup-location">
                <a class="data switch" tabindex="-1" data-toggle="switch" href="#pickup-location" id="tab-label-pickup-location-title" aria-selected="false" aria-expanded="false">
                    <span data-bind="i18n: 'In-store pickup'"></span>
                </a>
            </div>
            <div class="data item content" id="general-delivery" data-role="content">
                <div id="checkout-step-shipping" class="step-content">
                    <each args="getRegion('address-list')" render=""></each>
                    <each args="getRegion('address-list-additional-addresses')" render=""></each>

                    <!-- Address form pop up -->
                    <if args="!isFormInline">
                        <div class="new-address-popup">
                            <button type="button"
                                    class="action action-show-popup"
                                    click="showFormPopUp"
                                    visible="!isNewAddressAdded()">
                                <span translate="'New Address'"></span>
                            </button>
                        </div>
                        <div id="opc-new-shipping-address"
                             visible="isFormPopUpVisible()"
                             render="shippingFormTemplate" ></div>
                    </if>

                    <each args="getRegion('before-form')" render=""></each>

                    <!-- Inline address form -->
                    <render if="isFormInline" args="shippingFormTemplate"></render>

                    <each if="!quoteIsVirtual" args="getRegion('customer-email')" render=""></each>
                    <!-- ko if: (window.checkoutConfig.giftWrapping.allowForOrder) -->
                    <div class="gift-wrapping-container">
                        <strong><span data-bind="i18n: 'Is this a gift?'"></span></strong>
                        <span>
                           <input type="radio" id="gw-yes" class="radio" value="1" name="gift_wrapping">
                           <label for="gw-yes" class="radio-label"><span data-bind="i18n: 'Yes'"></span></label>
                       </span>
                        <span>
                           <input type="radio" id="gw-no" class="radio" checked="checked" value="0" name="gift_wrapping">
                           <label for="gw-no" class="radio-label"><span data-bind="i18n: 'No'"></span></label>
                       </span>
                    </div>
                    <!-- /ko -->
                    <!--Shipping method template-->
                    <div id="opc-shipping_method"
                         class="checkout-shipping-method"
                         data-bind="blockLoader: isLoading">
                        <div class="checkout-shipping-method">
                            <div class="step-title" translate="'Select Shipping Method'"></div>

                            <each args="getRegion('before-shipping-method-form')" render=""></each>

                            <div id="checkout-step-shipping_method"
                                 class="step-content"
                                 aria-hidden="false">
                                <form id="co-shipping-method-form"
                                      class="form methods-shipping"
                                      if="rates().length"
                                      submit="setShippingInformation"
                                      novalidate="novalidate">

                                    <render args="shippingMethodListTemplate"></render>

                                    <div id="onepage-checkout-shipping-method-additional-load">
                                        <each args="getRegion('shippingAdditional')" render=""></each>
                                    </div>
                                    <div role="alert"
                                         if="errorValidationMessage().length"
                                         class="message notice">
                                        <span text="errorValidationMessage()" />
                                    </div>
                                    <div class="actions-toolbar" id="shipping-method-buttons-container">
                                        <div class="primary">
                                            <button data-role="opc-continue" type="submit" class="button action continue primary">
                                                <span translate="'Proceed to Payment & Billing'"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="no-quotes-block"
                                     ifnot="rates().length > 0">
                                    <span data-bind="i18n: 'Sorry, no quotes are available for this order at this time'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data item content" id="pickup-location" data-role="content">
                <!-- ko if: shopIdMissing() -->
                <div class="message-wrapper">
                    <div class="message notice no-shop-id"><!-- ko text: $t('Please select a shop first.')--><!-- /ko --></div>
                </div>
                <!-- /ko -->
                <each args="getRegion('pickup-location')" render=""></each>

                <div class="actions-toolbar" id="review-buttons-container">
                    <div class="primary">
                        <button data-role="review-save" type="submit"
                                data-bind="click: selectStorePickup, attr: {title: $t('Proceed to Payment & Billing')}"
                                class="button action primary"><span data-bind="i18n: 'Proceed to Payment & Billing'"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
