<div id="one-step-checkout-accordion" data-bind="afterRender: afterRenderHook">
    <div data-role="collapsible" id="shipping-step-tab"
         data-bind="css: { 'checkout-step-disabled' : !shippingStepActive() }, afterRender: editShipping">
        <div data-role="trigger" class="accordion-header">
            <h4 data-bind="i18n: '1. Shipping'"></h4>
            <!-- ko if: shippingStepActive()-->

            <span data-bind="i18n: 'Checkout | step 1 of 3'" class="step-subtitle"></span>
            <!-- /ko -->
            <!-- ko if: !shippingStepActive()-->
            <span class="step-edit"><a href="#" class="edit-step-btn" data-bind="click: editShipping, i18n: 'Edit Shipping'"></a></span>
            <!-- /ko -->
        </div>
    </div>
    <div data-role="content" id="shipping-step-tab-content">
        <each args="getRegion('shipping-step')" render=""/>
    </div>

    <div data-role="collapsible" id="payment-step-tab" data-bind="css: { 'checkout-step-disabled' : !paymentStepActive() }">
        <div data-role="trigger" class="accordion-header">
            <h4 data-bind="i18n: '2. Payments & Billing'"></h4>
            <!-- ko if: !orderReviewStepActive() && !shippingStepProcessed() -->
            <span data-bind="i18n: 'Checkout | step 2 of 3'" class="step-subtitle"></span>
            <!-- /ko -->
            <!-- ko if: (orderReviewStepActive() || shippingStepProcessed()) && !paymentStepActive() -->
            <span class="step-edit"><a href="#" class="edit-step-btn" data-bind="click: editPayments, i18n: 'Edit Payments & Billing'"></a></span>
            <!-- /ko -->
        </div>
    </div>
    <div data-role="content" id="payment-step-tab-content">
        <each args="getRegion('billing-step')" render=""></each>
    </div>

    <div data-role="collapsible" id="order-review-step-tab" data-bind="css: { 'checkout-step-disabled' : !orderReviewStepActive() }">
        <div data-role="trigger" class="accordion-header">
            <h4 data-bind="i18n: '3. Order Review'"></h4>
            <span data-bind="i18n: 'Checkout | step 3 of 3'" class="step-subtitle"></span>
        </div>
    </div>
    <div data-role="content" id="order-review-step-tab-content">
        <each args="getRegion('order-review-step')" render=""></each>
    </div>
</div>
