<div class="ispu-result">
    <!-- ko if: searchResults().length < 1 -->
    <div class="message-wrapper">
        <div class="message notice no-ispu-block"><!-- ko text: $t('Sorry, no pickup locations were found')--><!-- /ko --></div>
    </div>
    <!-- /ko -->

    <form id="pick-up-location-customer-info" data-mage-init='{"validation": {}}' class="form" action="#">
        <!-- ko if: customerAddress.locations().length  -->
        <div class="control">
            <h3 data-bind="i18n: 'Select a Store'"></h3>
            <ul class="pickup-locations">
                <!--ko foreach: { data: customerAddress.locations(), as: 'pickupLocationInfo'}-->
                <li class="pickup-location">
                    <div class="wrapper">
                        <div class="field choice" data-bind="attr: { id: 'pickup-radio-' + pickupLocationInfo.location.id }">
                            <!-- TODO: .toUpperCase() is a workaround, because of missing shop_code in a response from backend. -->
							<!-- ### Haingo 20211018: remove form after select manip pick-up-location-customer-info-formulaire and pickup-radio -->
                            <input type="radio" name="pickupLocation" class="radio required-entry"  data-validate="{'validate-one-required-by-name':true}"
                                   data-bind="value: pickupLocationInfo.location.identifier.toUpperCase(), checked: pickupLocationInfo.selected,
                                        attr: { 'data-availability': pickupLocationInfo.code, 'data-location-id': pickupLocationInfo.location.id }"/>
                            <label class="button pickup-location action secondary-no-arrow green select-shop" data-bind="click: function($element) {
                                    jQuery('.pickup-location').removeClass('selected');
                                    jQuery('input[data-location-id=' + $element.location.id + ']').attr('checked', true);
                                    jQuery('input[data-location-id=' + $element.location.id + ']').trigger('change');
									jQuery('#pick-up-location-customer-info-formulaire').show();
									jQuery('#pick-up-location-customer-info-formulaire').appendTo('#pickup-radio-'+$element.location.id);
									
                                }">
                                <span data-bind="text: pickupLocationInfo.location.shop_name"></span>
                            </label>
                            <div class="shop-content-wrapper">
                                <!-- ### for swap the arrow plase "open" next ti class "view-store-details" -->
                                <div class="view-store-details"  data-bind="mageInit: {'collapsible':{'openedState': 'open'}}">
                                    <span data-role="title" class="view-store-toggle"><!-- ko i18n: 'Info' --><!-- /ko --></span>
                                    <div data-role="content" class="content-wrapper view-store-content">
                                        <div class="contact-info">
                                            <span class="content">
                                                <p data-bind="text: pickupLocationInfo.location.street_full"></p>
                                                <p class="info-shop-phone" data-bind="text: pickupLocationInfo.location.shop_phone"></p>
                                                <p data-bind="text: pickupLocationInfo.location.shop_email"></p>
                                            </span>
                                        </div>
                                        <div class="opening-hours">
                                            <p class="label"><!-- ko i18n: 'Business Hours' --><!-- /ko --></p>
                                            <span class="content">
                                        <span data-bind="html: jQuery.parseHTML(pickupLocationInfo.location.open_times)[0].innerHTML"></span>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
							

                        </div>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
		<div id="pick-up-location-customer-info-formulaire" style="display:none">
			<div class="fieldset"
				 data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
				<div class="field field-firstname required">
					<label for="firstname" class="label"><span data-bind="i18n: 'Firstname'"></span></label>
					<div class="control">
						<input type="text"
							   class="input-text"
							   id="firstname"
							   name="firstname"
							   data-bind="textInput: customerAddress.firstname,
								attr: {
									placeholder: $t('First Name*'),
								}"
							   data-validate="{required:true}"/>
					</div>
				</div>
				<div class="field field-lastname required">
					<label for="lastname" class="label"><span data-bind="i18n: 'Lastname'"></span></label>
					<div class="control">
						<input type="text"
							   class="input-text"
							   id="lastname"
							   name="lastname"
							   data-bind="textInput: customerAddress.lastname,
								attr: {
									placeholder: $t('Last Name*'),
								}"
							   data-validate="{required:true}"/>
					</div>
				</div>

				<div class="field field-street required">
					<label class="label" for="street"><span data-bind="i18n: 'Address Line 1'"></span></label>
					<div class="control">
						<input type="text"
							   class="input-text"
							   id="street"
							   name="street"
							   data-bind="textInput: customerAddress.street,
								attr: {
									placeholder: $t('Address Line 1*'),
								}"
							   data-validate="{required:true}" />
					</div>
				</div>

				<div class="field field-streetopt required">
					<label class="label" for="streetopt"><span data-bind="i18n: 'Address Line 2(Optional)'"></span></label>
					<div class="control">
						<input type="text"
							   class="input-text"
							   id="streetopt"
							   data-bind="textInput: customerAddress.streetopt,
							   attr: {
								placeholder: $t('Address Line 2 (optional)'),
							}"
							   name="streetopt" />
					</div>
				</div>

				<div class="field field-telephone required">
					<label for="telephone" class="label"><span data-bind="i18n: 'Telephone'"></span></label>
					<div class="control">
						<input type="text"
							   class="input-text"
							   id="telephone"
							   data-bind="textInput: customerAddress.telephone,
								attr: {
									placeholder: $t('Phone number'),
								}"
							   name="telephone"
							   data-validate="{
								   required:true,
								   'minlength':12,
								   'maxlength':15
								}"/>
					</div>
				</div>

				<div class="field field-email required">
					<label class="label" for="email"><span data-bind="i18n: 'Email Address'"></span></label>
					<div class="control">
						<input type="email"
							   class="input-text"
							   required="true"
							   id="email"
							   data-bind="textInput: customerAddress.email,
								attr: {
									placeholder: $t('E-mail*'),
								}"
							   name="email"
							   data-validate="{required:true, 'validate-email':true}" />
					</div>
				</div>
			</div>
		</div>
    </form>

      <!-- ko if: (window.checkoutConfig.giftWrapping.allowForOrder) -->
      <div class="gift-wrapping-container">
        <strong><span data-bind="i18n: 'Is this a gift?'"></span></strong>
        <span>
           <input type="radio" id="gw-yes-cc" class="radio" value="1" name="gift_wrapping">
           <label for="gw-yes-cc" class="radio-label"><span data-bind="i18n: 'Yes'"></span></label>
       </span>
        <span>
           <input type="radio" id="gw-no-cc" class="radio" checked="checked" value="0" name="gift_wrapping">
           <label for="gw-no-cc" class="radio-label"><span data-bind="i18n: 'No'"></span></label>
       </span>
    </div>
    <!-- /ko -->
</div>
