.checkout-step-disabled {
    pointer-events: none;
}

.edit-step-btn {
    pointer-events: auto !important;
}

.gift-wrapping-container .radio{
    opacity: 0;
}
.gift-wrapping-container strong{
    display: block;
    margin-bottom: 10px;
}
.gift-wrapping-container span{
    display:inline-block;
    position: relative;
    margin-right: 20px;
}

.gift-wrapping-container label{
    padding-left:10px;
}
.gift-wrapping-container label:before{

    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.gift-wrapping-container input:checked + label:after{
    content: '';
    width: 14px;
    height: 14px;
    background-color: #000;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
}
