<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Guest Checkout')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <p><?= $block->escapeHtml(__('You may check out without creating an account. You will be able to create an account later if you wish.')) ?></p>
            <div class="field email required">
                <div class="control">
                    <input name="login[username]" placeholder="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>"  autocomplete="off" id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action login primary"><span><?= $block->escapeHtml(__('Continue as a Guest')) ?></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
